 <div class="container">
	<div class="row">
        <h2>Enter your Address:</h2>
        <h3 id="hook">So that other users can send you books!</h3>
		 <form [formGroup]="myForm" (ngSubmit)='onSubmit()' class="form-horizontal">
            <fieldset>
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address-line1" formControlName="address1" name="address-line1" type="text" class="input-xlarge">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" formControlName="address2" name="address-line2" type="text" class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" formControlName="city" name="city" type="text" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" formControlName="state" name="region" type="text" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" formControlName="zip" name="postal-code" type="text" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- country select -->
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <select id="country" name="country" class="input-xlarge">
                            <option value="US">United States</option>
                        </select>
                    </div>
                </div>
                <button
                
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit
                </button>
            </fieldset>
        </form>
	</div>
</div>
