<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form [formGroup]='myForm' (ngSubmit)='onSubmit()'>
      <div class="form-group">
        <label id="label" for="search">Search for a book:</label>
        <input
        type="text"
        id="search"
        class="form-control"
        formControlName="search"
        >
      </div>
      <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!myForm.valid">Submit</button>
    </form>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <app-singlebook
    class="book-results"
    [book]='book'
    *ngFor="let book of books"
    (click)="onClick()">
  </app-singlebook>
</div>

</div>

<div class='backdrop' [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeWindow()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{book?.author}}</h4>
      </div>
      <div class="modal-body">
        <p>{{book?.title}}</p>
        <img class="book-img" src={{book?.image}}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addABook()">Add to my Books</button>
        <button type="button" class="btn btn-default" (click)="closeWindow()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
